body{

    background-color: gray;/*muda cor de fundo*/

}

header{
    display: flex;
    background-color: rgb(210, 146, 205);/*muda cor de fundo*/
    justify-content: space-between;/*coloca um elemento de cada ponta do cabeçalho*/
    padding: 20px;
}

.cabecalho_menuitem{

    display: inline;/*coloca os elementos em linha*/
    text-transform: uppercase;/*deixa todas as Letras maiúsculas*/
    margin-left: 20px;/*coloca uma margin a esquerda de 20px */
}

.cabecalho_imagem{
    width: 200px;/*altera o comprimento*/
    height: 200px;/*altera a altura da imagem*/
    border-radius: 50%;/*deixa a imagem redonda*/
}



